/* Page A propos */

.meteo-about-page {
    min-width: 800px;
    color: #ffffff;
}

.meteo-about-page ul li::before {
    content: "- ";
}


@media (max-width: 768px) {
.meteo-about-page {
    min-width: 100%;
}
}
