/* HEADER */
.meteo-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--color-white);
  padding: var(--spacing-lg);
  gap: var(--spacing-md);
  z-index: 100;
}

.meteo-logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.meteo-logo {
  display: block;
  max-width: 100%;
  height: auto;
}